                    .list__item {
                        height: 120px;
                        width: 225px;
                        background-color: black;
                        color: white;
                        margin-right: 5px;
                        z-index: 1;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &:hover {
                            transition: all ease-in 5ms;
                            width: 280px;
                            height: 257px;
                            margin-left: -27.5px;
                            z-index: 999;
                            img {
                                height: 140px;
                                z-index: 0;
                            }
                            .icons {
                                margin-top: .9rem;
                                margin-left: 3.5rem;
                                display: flex;
                                align-items: center;
                                gap: 50px;
                                .icon {
                                    z-index: 999;
                                    position: relative;
                                    margin-top: -5px;
                                    &:hover {
                                        filter: brightness(1);
                                        transition: all ease-in 5ms;
                                        transform: scale(1.5);
                                        padding: 3px;
                                        border-radius: 50%;
                                        background-color: rgb(22, 22, 22, 1);
                                    }
                                }
                            }
                        }
                    }